{{ define "main" }}

<section class="site-about-header">
	<div class="container">
		<div class="about-content">
			<div class="site-about-wrapper">
				<h1>GRAPHIC DESIGNER BASED IN <span class="miami">MIAMI, FL</span></h1>
			</div>
			<div class="about-subheading">
				<p>
					Currently a Jr. Art Director at
					<span class="job"
						><a href="https://www.zadv.com/" target="_blank"
							>Zimmerman Advertising</a
						></span
					>
				</p>
			</div>
		</div>

		<div class="about-paragraph">
			<p>
				Hey there, I’m Pedro, and I’ve been diving into the world of graphic
				design for the past four years. With a knack for art direction and
				design, I’ve had the pleasure of working on a variety of projects
				ranging from concepting to branding. Throughout my journey, I’ve
				collaborated with some fantastic brands like McDonald’s, AutoNation,
				Blue Compass RV, Kay Jewelers, and many more.
			</p>

			<p>
				Each experience has shaped my approach, fueling my passion for
				delivering top-notch design solutions. For me, design is more than just
				pixels and colors—it’s about telling stories and creating experiences.
				Whether I’m sketching out wireframes for UI design or crafting a brand
				identity from scratch, I always strive to strike the perfect balance
				between creativity and functionality.
			</p>

			<p>
				My philosophy revolves around collaboration and craftsmanship. I believe
				in listening to my clients, understanding their needs, and translating
				their vision into visually captivating designs that resonate with their
				audience. Allow me to elevate your brand or project with thoughtful and
				impactful design, let’s connect and bring your ideas to life!
			</p>
		</div>
	</div>
</section>


{{ end }}