# Ignore node_modules directory
node_modules/

themes/*

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore sensitive or private information
secrets.txt
credentials.json

# Ignore compiled binaries or executables
*.exe
*.dll
*.so
*.dylib

# Ignore hugo lock files
.hugo_build.lock

# Don't import public directory
public/

#Dont upload static directory
static/

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore Thumbs.db files on Windows
Thumbs.db
